header h1 {
    color: black;
    text-align: center;
    padding-top: 10%;
    
}

header p{
    color: black;
    text-align: center;
}

nav h2{
    color: black;
    text-align: center;
    padding: 2%;
    margin: 2%;

}

nav ul{
    color: #000000;
    margin-right: 210px;
    margin-left: 210px;
    
}

.text3 h2{
    color: black;
    text-align: center;
}


.navani  {
    text-align: center;
    padding: 2%;
}

.navpe {
    text-align: center;
}

