* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

p {
    padding-top: 3%;
    text-align: center;
}

body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    min-height: 100%;
    display: grid;
    place-items: center;
}

h2 {
    padding-top: 8%;

}

.row {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}

h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 40%;
    padding-right: 40%;
    background-color: rgb(254, 243, 254);
    color: rgb(8, 16, 22);
    border-radius: 5cm;
    text-align: center;
}






.row .imagenw {
    width: 200%;
}

.row .imagenw2 {
    width: 100%;
}

.hyperv {
    position: absolute;
    top: 30px;
    right: 50px;
}